<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>photoThumbnailUrl</key>
		<string></string>
		<key>photoOriginUrl</key>
		<string></string>
		<key>note</key>
		<string></string>
		<key>cost</key>
		<integer>0</integer>
		<key>foodType</key>
		<string></string>
		<key>isBest</key>
		<integer>0</integer>
	</dict>
	<key>User</key>
	<dict>
		<key>name</key>
		<string>csnguyen</string>
		<key>photoThumbnailUrl</key>
		<string></string>
		<key>photoOriginUrl</key>
		<string></string>
		<key>note</key>
		<string>test note</string>
	</dict>
	<key>Place</key>
	<array>
		<dict>
			<key>name</key>
			<string></string>
			<key>photoThumbnailUrl</key>
			<string></string>
			<key>photoOriginUrl</key>
			<string></string>
			<key>note</key>
			<string></string>
			<key>address</key>
			<string></string>
			<key>averageCost</key>
			<integer>200</integer>
			<key>costlyLevel</key>
			<integer>3</integer>
			<key>elegentLevel</key>
			<integer>3</integer>
			<key>mealType</key>
			<string>2</string>
			<key>rank</key>
			<integer>4</integer>
			<key>timesCheckin</key>
			<integer>99</integer>
			<key>tastyLevel</key>
			<integer>5</integer>
			<key>attitude</key>
			<integer>123</integer>
			<key>longtitude</key>
			<integer>456</integer>
		</dict>
	</array>
</dict>
</plist>
